################################################################################
# I/O STANDARDS
################################################################################
NET  "clk_p"                                     IOSTANDARD = LVPECL_25;
NET  "clk_n"                                     IOSTANDARD = LVPECL_25;
NET  "rst"                                       IOSTANDARD = LVCMOS18;

################################################################################
# Location Constraints
################################################################################
NET  "clk_p"                                     LOC = "L19"  ;          #Bank 3
NET  "clk_n"                                     LOC = "K19"  ;          #Bank 3
NET  "rst"                                       LOC = "U8"   ;          #Bank 20

# UART
NET "rx"                                         LOC = "AG15" ; 
NET "tx"                                         LOC = "AG20" ;

# LEDs
NET  "leds[0]"                                   LOC = "H18"  ; 
NET  "leds[1]"                                   LOC = "L18"  ; 
NET  "leds[2]"                                   LOC = "G15"  ; 
NET  "leds[3]"                                   LOC = "AD26" ; 
NET  "leds[4]"                                   LOC = "G16"  ; 
NET  "leds[5]"                                   LOC = "AD25" ; 
NET  "leds[6]"                                   LOC = "AD24" ; 
NET  "leds[7]"                                   LOC = "AE24" ; 


################################################################################
# PLL Constraints
################################################################################
# Generated by Xilinx Architecture Wizard
# --- UCF Template Only ---
# Cut and paste these attributes into the project's UCF file, if desired
#INST "*/u4_pll" BANDWIDTH = OPTIMIZED;
#INST "*/u4_pll" CLKIN1_PERIOD = 5.000;
#INST "*/u4_pll" CLKIN2_PERIOD = 10.000;
#INST "*/u4_pll" CLKOUT0_DIVIDE = 3;
#INST "*/u4_pll" CLKOUT0_PHASE = 0.000;
#INST "*/u4_pll" CLKOUT0_DUTY_CYCLE = 0.500;
#INST "*/u4_pll" COMPENSATION = SYSTEM_SYNCHRONOUS;
#INST "*/u4_pll" DIVCLK_DIVIDE = 2;
##INST "*/u4_pll" CLKFBOUT_MULT = 6;
#INST "*/u4_pll" CLKFBOUT_PHASE = 0.0;
#INST "*/u4_pll" REF_JITTER = 0.005000;
